<div class="careers">
  <div class="careers__title-image-section">
    <p class="careers__title">LET’S START OUR JOURNEY TOGETHER!</p>
    <p class="careers__sub-title">Join us! And become a Lean Gladiator</p>
  </div>
  <div class="careers__apply-section">
    <h2 class="careers__title_apply">
      Be part of an outstanding team
    </h2>
    <div class="careers__divider"></div>
    <div class="careers__text-container">
      <p>
        Want to be part of an amazing company filled with the best talent in South America? Join our team and let’s grow together!
        Our company is growing day by day. More developers are searching for a technology hub that allows them to explore their potential and create amazing products that benefit and enhance our clients’ processes.
        Boost your career and learn from experienced developers that are ready to share their knowledge and expertise.
      </p>
      <p>
        <strong>Join us today. Let’s innovate together!</strong>
      </p>
    </div>
    <div class="careers__apply-now-button-container">
      <button class="careers__apply-now-button">Apply now!</button>
    </div>
  </div>
</div>
